* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  direction: rtl;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#sidebar li{
  text-align:right;
}

.inner-search {
  display: flex;
}
#search {
  width: 40%;
  margin: 5px;
}
#pac-input {
  background: white;
  padding: 0 5px;
  margin: 0;
}
#search button {
  width: 4em;
  height: 3em;
  font-size: 1rem;
  background: hsl(173, 86%, 65%);
  /*background: linear-gradient(90deg, hsl(173, 86%, 65%), hsl(173, 86%, 65%) 85%, hsl(173, 86%, 25%));*/
  border: 0;
}


.side-nav .realHead {
  min-height:80px;
  background-color:#1ccfb9;
  font-size:35px;
  color:white;
  font-family: arial;
  font-weight: lighter;
  padding-top:10px;
  padding-bottom:20px;
  margin-bottom:15px;
}

.side-nav .headText {
  padding-top: 0 15px 10px 0;
  line-height:1.2;
}

.side-nav .realHead .headText {
  padding-right:15px;
}
.side-nav .headText,.headImg {
  display:inline-block;
}
.side-nav .realHead .headText {
  width:75%;
}

.side-nav .realHead .selectedAddress {
  font-size:15px;
}
.side-nav .realHead .headImg {
  min-width:15%;
}
.side-nav .headImg {
  text-align:right;
}

#sidebar .side-nav li {
  line-height:1.2;
}
#sidebar .side-nav .minorHeader {
  color:#ee3840;
  text-align:right;
}

.blueAction:hover {
  background-color: #81d4fa;
}

.blueAction {
  background-color: #29b6f6;
}

.cyanAction:hover {
  background-color: #80deea;
}

.cyanAction {
  background-color: #26c6da;
}

.greenAction:hover {
  background-color: #b2dfdb;
}

.greenAction {
  background-color: #80cbc4;
}

.citizenAction {
  padding: 20px;
  width: 120px;
  color: white;
  border: 5px;
  display: inline-block;
  border-radius: 5px;
  padding-right:15px;
  font-size:17px;
  transition: all 0.15s linear;
}

/*.citizenAction:hover {
  color: black;
}*/

#sidebar .side-nav .content {
  padding-right:15px;
  padding-left: 20px;
  margin-bottom:10px;
}
#sidebar .side-nav .joinButton, #sidebar .side-nav  .otherJoinButton {
  text-align:center;
  background-color:#ee3840;
  width:170px;
  height:40px;
  border-radius:15px;
  font-size:15px;
  color:white;
  border:0;
}
#sidebar .side-nav .otherJoinButton {
  background-color:#1ccfb9;
}

.dontShowComponent {
  display:none;
}
#sidebar .side-nav .buttonContainer a {
  margin:auto;
  margin-bottom:10px;
  line-height:40px;
}
li.description {
  line-height: 20px;
  padding: 15px 8px;
}
.search-results {
  background-color: white;
}
.search-results a {
  font-size: 12px;
  white-space: nowrap;
  display: block;
  padding: 15px 20px 15px 15px;
}
.search-results a:hover {
  background-color: lightgrey;
