* {
	font-family: Heebo, Arial, Helvetica, sans-serif;
	text-align: right;
}

body {
	direction: rtl;
	background-color: #f8f8f8;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
