* {
	font-family: Assistant, sans-serif;
	text-align: right;
}

body {
	direction: rtl;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.payment-popup{
	width:350px;
	height:800px;
	overflow-y: scroll;
	@media (min-width: 1024px) {
		width:800px;
		height:940px;
	 }
	 @media (max-width: 1024px) {
		 iframe{
			overflow-y: hidden;
		 }
	 }
}

.Toastify__toast-body {
		direction: rtl;
}

.Toastify__toast-container {
	z-index: 200000;
}