server/node_modules
client/node_modules
*.log
local.json
.idea
.DS_Store
client/build/
client/public/upload/
client/cypress/videos/
client/cypress/screenshots/
server/config/local.json
server/api/lib/mavat/tmp/tmpPDF.pdf
build
