* {
  font-family: Heebo, Arial, Helvetica, sans-serif;
  text-align: right;
}

body {
  direction: rtl;
  background-color: #f8f8f8
}
nav {
  z-index: 1;
}

.heroContainer {
  height:800px;
}
.hero {
  display: none;
}

.garden h2{
 padding-top:35px;
}


.hero .content {
  position: absolute;
  top: 20%;
  text-align: center;
  width: 100%;
  color: #ffffff;
}

.hero .content h4,
.hero .content p {
  text-align: center;
}

.hero .join {
  color: #ffffff;
  background: #ffa81b;
  border-radius: 20px;
  border-width: 0;
  font-weight: bold;
  height: 40px;
  padding: 10px 30px;
  text-decoration: none;
}

h2 strong {
  color: #ffa81b;
  font-weight: normal;
}

.hpForm {
  background: #ffa81b;
  color: #ffffff;
  padding: 25px;
  margin: 0 -15px;
  /* width: 100%; */
}

.hpForm button {
  background: #ffffff;
  color: #ffa81b;
  border-radius: 20px;
  border-width: 0;
  font-weight: bold;
  height: 40px;
  padding: 10px 30px;
}

.hpForm .form-group.active_field label {
  display: none;
}

.hpForm .form-group {
  position: relative;
}

.hpForm .form-group label {
  color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1rem;
  font-weight: bold;
  -webkit-transition: color .2s ease-out, -webkit-transform .2s ease-out;
  transition: color .2s ease-out, -webkit-transform .2s ease-out;
  transition: transform .2s ease-out, color .2s ease-out;
  transition: transform .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out;
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  text-align: initial;
  -webkit-transform: translateY(12px);
  transform: translateY(12px);
}

.hpForm .form-group input {
  display: block;
  width: 100%;
  padding: .375rem 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #ffffff;
  background-color: transparent;
  background-clip: padding-box;
  border: 0;
  border-bottom: 1px solid #ffffff;
  transition: border-color .15s ease-in-out, box-shadow .15s;
  text-align: left;
  direction: ltr;
}

.team,
.partners,
.aboutus {
  position: relative;
  padding-top: 35px;
  background: #ffffff;
}

.team .d-block {
  color:#007bff;
}

footer {
  margin-top:40px;  
  z-index: 10000;
  position: relative;
  background: white;
  padding: 100px;
}

@media (min-width: 992px) {
  .heroContainer {
    height: 800px;
  }
  .hero {
    display: block;

  }
  .hero .content {
    position: inherit;
  }
  .hero .background {
    position: absolute;
    top: 0;
    left: 0;
    width:50%;
  }
  .hero .content {
    text-align: right;
    margin-top:60px;
  }
}