@import "../../../global";

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 65px;
  .conatct-us {
    width: 170px;
    font-size: 15px;
    text-align: center;
    color: $black;
    a {
      color: $black;
      &:hover {
        color: $black;
      }
    }
  }
  .copyrights {
    margin-top: 65px;
    margin-bottom: 65px;
  }
}