<!DOCTYPE html>
<html  dir="rtl">
<head>
  <title>"מעירים" - רישום להתראת תכנון</title>
</head>
<body dir="rtl">
  <h2 class="headline">אישור הרשמה</h2>
  <div class="content">
    אישור הרשמה להתראת תכנון:
  </div>

  <div class="content">
    {{address}}, ברדיוס {{radius}} ק"מ
  </div>
  <div class="content">
    <strong>החברים "ממעירים"</strong>
  </div>
</body>
</html>
