<!DOCTYPE html>
<html  dir="rtl">
<head>
  <title>"מעירים" - אימות כתובת דואר אלקטרוני</title>
</head>
<body dir="rtl">
    <h2 class="headline"> שמחים שהצטרפת אלינו!</h2>
    <div class="link_wrapper">
    <a class="link" href="{{url}}">לחצו פה להפעלת החשבון </a>
    </div>
    <div class="content">
          תכף מתחילים,
    </div>
    <div class="content">
      <strong>החברים "ממעירים"</strong>
    </div>
  </div>
</body>
</html>
