<!DOCTYPE html>
<html  dir="rtl">
<head>
  <title>"מעירים" - אימות כתובת דואר אלקטרוני</title>
</head>
<body dir="rtl">
    <h2 class="headline">בוקר טוב!</h2>
    <div class="content">
      מעירים היא פלטפורמה אינטרנטית המסייעת לתושבים לקבל מידע תכנוני ולשתתף בפעילויות אקטיביזם עירוני.אנחנו במרחק צעד אחד מלהפוך את מערכת היחסים ביננו לרשמית. 
    </div>
    <div class="content">
אנא אמת את כתובת הדוא"ל באמצעות לחיצה על הקישור המצורף. מיד לאחר מכן תועבר לטופס בו תכל להגדיר את התחום בו תקבל התראות על תכנית בסמכות מקומית ומחוזית. 
    </div>
    <div class="link_wrapper">
    <a class="link" href="{{url}}">לחצו פה להפעלת החשבון שלכם</a>
    </div>
    <div class="content">
          תכף מתחילים,
    </div>
    <div class="content">
      <strong>החברים "ממעירים"</strong>
    </div>
  </div>
</body>
</html>
