<!DOCTYPE html>
<html  dir="rtl">
<head>
  <title>"מעירים" - רישום להתראת שמירה על העצים</title>
</head>
<body dir="rtl">
  <h2 class="headline">אישור הרשמה</h2>
  <div class="content">
    אישור הרשמה להתראת שמירה על העצים
  </div>

  <div class="content">
    מקום היישוב: {{place}}
  </div>
  <div class="content">
    <strong>החברים "ממעירים"</strong>
  </div>
</body>
</html>
