<html dir="rtl">

<head>
  <title>Reset your password</title>

  <style type="css/text">

    div {
      font-family: Assistant, sans-serif;
      font-size: 13px;
      color: #3b3b3b;
    }

    .wrapper {
      direction: rtl;
      padding: 44px 33px;
      background-color: #ffffff;
      font-size: 13px;
      color: #3b3b3b;
    }

    h2 {
      font-family: Assistant, sans-serif;
      font-size: 24px;
      font-weight: bold;
      letter-spacing: -0.9px;
      text-align: center;
      color: #3b3b3b;
    }

  </style>
</head>

<body dir="rtl">
  <div class="wrapper">
    <h2>
      שלום!
    </h2>
    <div>
      לחצו על הקישור כדי לאפס את הסיסמה שלכם:
    </div>
    <div>
      <a href="{{{url}}}&utm_medium=email&utm_source={{{type}}}">איפוס סיסמה</a>
    </div>
    <div>
      צוות מעירים
    </div>
  </div>
</body>

</html>
