<!DOCTYPE html>
<html  dir="rtl">

<head>
  <title>{{title}}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css?family=Assistant" rel="stylesheet" />
  <style type="text/css">

    * {
      font-family: Assistant, sans-serif;
    }

    .headline {
      font-size: 24px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.9px;
      text-align: center;
      color: #652DD0;
    }

    .logo {
      display: block;
      text-align: center;
    }

    .content {
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 150%;
      letter-spacing: normal;
      text-align: right;
      color: #3b3b3b;
      margin: 5px 0;
    }

    .link_wrapper {
      text-align: center;
      padding: 15px;
    }

    .link {
      border-radius: 100px;
      background-color: #652DD0;
      color: #ffffff;
      padding: 6px 20px;
      text-decoration: none;
    }

    .wrapper {
      margin: 0 auto;
      width: 100%;
      max-width: 600px;
      font-size: 13px;
      color: #3b3b3b;
      direction: rtl;
      background-color: #ffffff;
      font-size: 13px;
      color: #3b3b3b;
    }

    .subSubHeadline {
    }

    .subHeadline {
      font-size: 17px;
      letter-spacing: -0.7px;
      color: #005cbf;
    }

    .blue {
      color: #652DD0;
    }

    #support-us-box {
      margin: 0 auto;
      background: #F0E3FD;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 6.91436px 8.83705px rgba(0, 0, 0, 0.025);
      border-radius: 12px;
      width: 100%;
      padding-top: 14px;
      margin-top: 16px;
    }

    #support-us-image {
      align-self: baseline;
    }

    #support-us-wrapper {
      padding: 0 24px 24px 24px;
    }

    #support-us-text-wrapper {
      font-size: 12px;
    }

    #support-us-title {
      font-weight: 600;
      font-size: 1.3em;
      line-height: 2em;
      text-align: right;
      color: #270E78;
      margin: 0;
    }

    #support-us-text {
      font-size: 1em;
      line-height: 1.6875em;
      text-align: right;
      color: #270E78;
      max-width: 800px;
      margin: 0;
    }

    #support-us-button {
      width: 120px;
      height: 2em;
      background: linear-gradient(0deg, #652DD0, #652DD0);
      border-radius: 0.75em;
      line-height: 2em;
      text-align: center;
      font-size: 1em;
      color: #ffffff;
      margin-right: auto;
      margin-top: 10px;
      border: 0;
      cursor: pointer;
      text-decoration: none;
      display: block;
    }

    @media only screen and (min-width:480px) {
      /**
       * !important is needed for the query declarations since non-media css
       * declarations are rendered as inline styles by juice and so take
       * precedence over these internal styles unless !important is used
       */
      #support-us-box {
        width: 1236px !important;
        max-width: 100% !important;
        padding-top: 0 !important;
        height: 123px !important;
      }

      #support-us-image {
        float: right !important;
        height: 100% !important;
      }

      #support-us-wrapper {
        padding: 12px 24px 24px 24px !important;
      }

      #support-us-button {
        margin-top: auto !important;
      }
    }

  </style>
</head>

<body dir="rtl">
  <div class="wrapper">
    {{! this forces the first render to keep inner template values as they are. they will be rendered on the second pass }}
    {{=<% %>=}}
    <a href="https://meirim.org/?utm_medium=email&utm_source={{{type}}}" class="logo">
      <img src="cid:logomeirim" alt="מעירים"/>
    </a>
    <%={{ }}=%>

    {{{body}}}
  </div> 
</body>
</html>
