<!DOCTYPE html>
<html  dir="rtl">

<head>
  <title>{{title}}</title>
  <meta charset="utf-8" /> 
  <style type="text/css">

* {
  font-family: sans-serif;
}
 .headline{
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.9px;
  text-align: center;
  color: #3b3b3b;
}
.logo{
  display:block;
  text-align: center;
}

.content{
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 150%;
  letter-spacing: normal;
  text-align: right;
  color: #3b3b3b;
  margin:5px 0;
 
}
.link_wrapper {
  text-align:center;
  padding:15px;
}

.link {
  border-radius: 100px;
  background-color: #005cbf;
  color:#ffffff;
  padding: 6px 20px;
  text-decoration:none;
}

.wrapper {   
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  font-size: 13px; 
  color:#3b3b3b;
  direction:rtl;
  background-color: #ffffff; font-size: 13px; color:#3b3b3b; 
}

.subSubHeadline {

}
.subHeadline {
font-size: 17px;
letter-spacing: -0.7px;
  color: #005cbf;

}
.blue {
  color: #3b3b3b;
}
  </style>
</head>

<body dir="rtl">
  <div class="wrapper">
    <a href="http://meirim.org/" class="logo">
    <img src="cid:logomeirim" alt="מעירים"/>
    </a>
    {{{body}}}
  </div>
</body>
</html>
