.header-question {
    height: 114px;
    font-family: Heebo;
    font-size: 25px;
    line-height: 1.27;
    text-align: right;
    color: #3b3b3b;
    position: relative;
    right: 10%;
    margin-top: 6%;
}