<html  dir="rtl">

<head>
  <title>Welcome to Meirim</title>
  <link href="https://fonts.googleapis.com/css?family=Heebo" rel="stylesheet"> </link>

  <style type="css/text">
    div { font-family: 'Heebo', sans-serif; font-size: 13px; color:#3b3b3b; }
    .wrapper { direction=rtl;padding:44px 33px; background-color: #ffffff; font-size: 13px; color:#3b3b3b; }
    h2 { font-family: Heebo; font-size: 24px; font-weight: bold; letter-spacing: -0.9px; text-align:
    center; color: #3b3b3b; }
  </style>
</head>

<body dir="rtl">
  <div class="wrapper">
    <h2>
שלום!
</h2>
    <div>
      ברוכים הבאים למעירים! תודה שהצטרפתם אלינו. אתם בדרך למוערבות עירונית אקטיבית והרבה מעבר!
    </div>
    <div>
      מעירים היא פלטפורמה אינטרנטית המסייעת לתושבים לקבל מידע תכנוני ולשתתף בפעילויות אקטיביזם עירוני.
    </div>
    <div>
      כעת עליכם ללחוץ על הקישור הבא כדי שנוכל לוודא שהאי מייל שלכם אמיתי
      <div>
        <a href="{{url}}">Click here to activate your account</a>

        <div>
          יש לכם שאלות? אתם מוזמנים לכתוב לנו אי מייל! אנחנו שמחים לשמוע מכם.
        </div>
        Have any questions? Just shoot us an email! We’re always here to help.
        <div>
          צוות מעירים
        </div>
      </div>
</body>

</html>
