<html>
<head>
  <title>Welcome to Meirim</title>
</head>
<body>

Hi {{fname}}!

Welcome to Meirim! Thanks so much for joining us. You’re on your way to super-productivity and beyond!

[who we are; our mission/ what we help you do; how it works]
Prioritizer is a task management app that helps you focus on the important things in life by only allowing you to add 3 items a day. Set and track daily, weekly, and monthly priorities — and get the stuff that matters done.

[what to do next that will set you up for success]
Our number one tip to get the most out of Prioritizer is to download our browser extension and give it a whirl. [how it helps] It’ll make sticking to your priorities super simple and just a click away.

[CTA](Download the extension)

[open communication channel for questions, conversations, and help]
Have any questions? Just shoot us an email! We’re always here to help.

Cheerfully yours,
The Meirim Team
</body>
</html>
