<html>

<head>
  <title>{{firstName}} wake-up! a new plan was submitted {{PL_NAME}}</title>
</head>

<body>
A new plan was submitted:

OBJECTID: {{data.OBJECTID}}<br />
PLAN_COUNTY_NAME: {{data.PLAN_COUNTY_NAME}}<br />
ENTITY_SUBTYPE_DESC: {{data.ENTITY_SUBTYPE_DESC}}<br />
PL_NUMBER:{{data.PL_NUMBER}}<br />
PL_NAME: {{data.PL_NAME}}<br />
PL_AREA_DUNAM: {{data.PL_AREA_DUNAM}}<br />
DATE_SAF:{{data.DATE_SAF}}<br />
DEPOSITING_DATE:{{data.DEPOSITING_DATE}}<br />
PL_LAST_DEPOSIT_DATE{{data.PL_LAST_DEPOSIT_DATE}}<br />
PL_REJECTION_DATE:{{data.PL_REJECTION_DATE}}<br />
PL_DATE_8:{{data.PL_DATE_8}}<br />
PLAN_CHARACTOR_NAME: {{data.PLAN_CHARACTOR_NAME}}<br />
מטרות: {{data.מטרות}}<br />
PL_LANDUSE_STRING: {{data.PL_LANDUSE_STRING}}<br />
STATION_DESC: {{data.STATION_DESC}}<br />
PL_BY_AUTH_OF: {{data.PL_BY_AUTH_OF}}<br />
PL_URL: <a href="{{data.PL_URL}}">Link of full plan</a>
LAST_UPDATE: {{data.LAST_UPDATE}}
</body>

</html>
