<html dir="rtl">

<head>
  <title>Reset your password</title>
  <link href="https://fonts.googleapis.com/css?family=Heebo" rel="stylesheet"> </link>

  <style type="css/text">
    div { font-family: 'Heebo', sans-serif; font-size: 13px; color:#3b3b3b; } .wrapper { direction=rtl;padding:44px 33px; background-color: #ffffff; font-size: 13px; color:#3b3b3b; } h2 { font-family: Heebo; font-size: 24px; font-weight: bold; letter-spacing:
    -0.9px; text-align: center; color: #3b3b3b; }
  </style>
</head>

<body dir="rtl">
  <div class="wrapper">
    <h2>
שלום!
</h2>
    <div>
      לחצו על הקישור כדי לאפס את הסיסמה שלכם:
    </div>
    <div>
      <a href="{{url}}">איפוס סיסמה</a>
    </div>
    <div>
      צוות מעירים
    </div>
  </div>
</body>

</html>
