html body {
    direction: rtl;
    background-color: #f8f8f8;
}

.single-line {
    display: flex;
}

.share-link {
    padding-left: 10px;
    padding-right: 10px;
}

.register-link {
    color: red;
}
