  html body {
  direction: rtl;
  background-color: #f8f8f8;
}

.MuiTypography-root {
  font-family: Assistant !important ;
}

.container .btn .active {
  background-color: #054487;
  border-color: #054487;
}

.error-container {
  color: '#900';
}

.centerNote {
  text-align: center;
}

.card {
  max-width: 335px;
  margin: 0 1em 3em 1em;
}

.card-link {
  height: 100%;
  width: 100%;
}

.card-action-area {
  height: 100%;
}

.card-media {
  height: 60%;
}

.card-content {
  height: 40%;
}
