{{#me.id}}
<form class="add-comment">    
 <input type="hidden" name="parent_id" value="0">
 <input type="hidden" name="plan_id" value="{{plan_id}}">
  <div class="form-group">
    <label for="exampleInputPassword1" class="sr-only">Password</label>
    <textarea required placeholder="מה דעתך על התוכנית?"  name="content" class="form-control" rows="1"></textarea>
  </div>
  {{^me.alias}}
  <div class="form-group" hidden>
      <label for="exampleInputEmail1" class="sr-only">כינוי</label>
      <input type="text" class="form-control" required name="alias" placeholder="כינוי" value="{{me.alias}}">
    </div>
    {{/me.alias}}
  <button type="submit" class="btn btn-success float-left">שליחה</button>
</form>

{{/me.id}}
{{^me.id}}
<div class="rectangle text-center">
מה דעתך על התוכנית?<br />
<small>יש להירשם כדי להגיב ולהשתתף בדיון</small><br />
<a href="/"  class="btn btn-success">חשבון חדש</a> 
או
<a href="/login/" class="btn btn-primary">חשבון קיים</a>
</div>
{{/me.id}}
<ul id="comments-list" class="comments-list ">
  {{#data}}
  <li class="comment-main-level">
          <div class="comment-avatar"><img src="/images/defaultAvatar.png" alt="avatar"></div>
          <div class="comment-box">
            <div class="comment-head">
              <h6 class="comment-name"><a href="/profile/{{person.id}}">
                {{#person.alias}}{{person.alias}}{{/person.alias}}
                {{^person.alias}}אנונימי{{/person.alias}}
              </a></h6>
              <span>{{time_ago}}</span>
            </div>
            <div class="comment-content">
              {{content}}
            </div>
          </div>
      </li>
  {{/data}}
</ul>