//colors
* {
  box-sizing: border-box;
  font-family: Heebo;
  text-align: right;
}

.center-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
.row {
  flex-direction: row;
  display: flex;
}
.column {
  flex-direction: column;
  display: flex;
}

$orange: #ffa81b;
$black: #3b3b3b;
$gray: #979797;
