.navbar {
    display: none !important;
}

@media (min-width: 768px) {
    .navbar {
        display: flex !important;
    }
}

.eyelashes {
    width: 32px;
}

.navbar {
    z-index: 1;
    height: 7rem;
    max-height: none !important;
}

.navbar.navbar-expand.navbar-light {
    padding-right: 4px;
}

.navbar-nav.mr-auto, .navbar-nav {
    padding-right: 0;
}
