* {
    font-family: Heebo, Arial, Helvetica, sans-serif;
    text-align: right;
  }
  
  body {
    direction: rtl;
    background-color: #f8f8f8
  }
  
  h1 {
    margin-bottom:40px;
  }
  .goodMorning {
    margin: auto;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -0.9px;
    text-align: center;
    color: #3b3b3b;
    padding-top: 10px;
    padding-bottom: 30px
  }
  
  .eyelashes {
    display: block;
    margin: auto;
    top: 107px;
    width: 91px;
    height: 68px;
    margin-top: 60px;
  }

  #map { height: 400px; 
    margin-bottom:30px;}
  
  .rectangle {
    padding: 35px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 9px 14px 0 rgba(0, 0, 0, 0.08);
    line-height: 200%;
    margin-bottom:30px;
  }
  
  
  
  @media (max-width: 576px) { 
    .rectangle {
      padding: 10px;
      margin: 0;
      width: 100%;
    }
  
    .radiusRange {
      max-width: 60%;
    }
  
    .selectAreaAndInterest {
      max-width: 90%;
    }
  }